---
import type { TocItem } from "@/utils/generateToc";

interface Props {
	heading: TocItem;
}

const {
	heading: { children, depth, slug, text },
} = Astro.props;
---

<li class={`${depth > 2 ? "ms-2" : ""}`}>
	<a
        class={`line-clamp-2 hover:text-accent details-a ${depth <= 2 ? "mt-3" : "mt-2 text-sm"}`}
        href={`#${slug}`}><span aria-hidden="true" class="me-0.5">#</span>{text}</a
    >
    {
        !!children.length && (
            <ol>
                {children.map((subheading) => (
                    <Astro.self heading={subheading} />
                ))}
            </ol>
        )
    }
</li>
<style>
	/* 确保标题过长时换行 */
.details-a a {
  word-break: break-word; /* 允许长单词换行 */
  white-space: normal; /* 确保文本会换行 */
}
</style>